@use '@angular/material' as mat;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Geist', 'Segoe UI', Roboto, sans-serif;
}

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Geist,
    density: 0,
  ));
}
